NODE_ENV=development
API_PORT=4000
API_BASE_URL="/hacked_mud_api_dev"
API_FULL_URL="http://192.168.0.101:4000/hacked_mud_api_dev"
LOGS_FOLDER_PATH="~/services/hacked_mud/logs"

DASHBOARD_FRONTEND_PORT=4001
DASHBOARD_FRONTEND_BASE_URL= "/hacked_mud_dashboard_dev"
DASHBOARD_FRONTEND_FULL_URL= "http://192.168.0.101:4001/hacked_mud_dashboard_dev"
DISPLAY_TO_USE=0
