NODE_ENV=development
API_PORT=4434
API_BASE_URL="/hacked_mud_api"
API_FULL_URL="http://10.40.0.126:4434/hacked_mud_api"
LOGS_FOLDER_PATH="~/services/hacked_mud/logs"

DASHBOARD_FRONTEND_PORT=4435
DASHBOARD_FRONTEND_BASE_URL= "/hacked_mud_dashboard"
DASHBOARD_FRONTEND_FULL_URL= "http://10.40.0.126:4435/hacked_mud_dashboard"
DISPLAY_TO_USE=0

VITEPRESS_PORT=4436
VITEPRESS_FULL_URL="http://10.40.0.126:4436/hacked_mud/" 
